<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">&nbsp;&nbsp; Web Speech API in Angular2</h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label></label>
                                <input type="text" class="form-control border-input" name="txtSpeechSearchMovieName" id="txtSpeechSearchMovieName" value=""
                                       placeholder="Click below button and then say something!!!" [(ngModel)]="speechData">
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <br />
                    <div class="text-center">
                        <button class="btn btn-info btn-fill btn-wd" name="btnActivateSpeechSearchMovie" id="btnActivateSpeechSearchMovie" (click)="activateSpeechSearchMovie()"
                                [disabled]="!showSearchButton">
                            Enable Speech Search
                        </button>
                        <button class="btn btn-info btn-fill btn-wd" name="btnDisableSpeechSearchMovie" id="btnDisableSearchMovie" (click)="onDisableClick()"
                                [disabled]="!showDisableButton">
                            Disable Speech Search
                        </button>
                        <button class="btn btn-info btn-fill btn-wd" name="update" id="update" (click)="onUpdateClick()">
                            Update
                        </button>
                        <button class="btn btn-info btn-fill btn-wd" name="this" id="add" (click)="onAddClick()">
                            Add
                        </button>
                        <div *ngIf="showUpdate == true">
                                <h1>Натиснахте Update</h1>
                        </div>
                        <div *ngIf="showAdd == true">
                                <h1>Натиснахте Add</h1>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>